<% include partials/header %>

    <div id="landing-header">
        <h1 id="h11">Welcome to YelpCamp</h1><br>
        <a href="/campground" class="btn btn-lg btn-success">View All Campgrounds..</a>
    </div>
<br>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<% include partials/footer %>